<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand bg-light" href="#home">
      <img src="assets/VisAVis-logo-with-text.png" alt="VisAVis" height="24">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Browse</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" *ngIf="formAuth">
        <form [ngrxFormState]="formAuth">
        <li class="nav-item" *ngIf="formAuth.value.isOnline === true">
          <button type="button" class="btn btn-outline-light">NDEx Login</button>
<!--          <a class="nav-link" href="#">NDEx Login</a>-->
        </li>
        <li class="nav-item" *ngIf="formAuth.value.isOnline === false">
          <button type="button" class="btn btn-outline-light">Hello!</button>
        </li>
        </form>
      </ul>
    </div>
  </div>
</nav>


<!--<div class="d-block">-->
<!--  <h1 class="display-3 row">-->
<!--    <div class="col-10">MetaRelSubNetVis</div>-->
<!--    <div class="col-2">-->
<!--      <a-->
<!--        href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/misit/"-->
<!--        target="_blank"-->
<!--      >-->
<!--        <img-->
<!--          alt="Chair logo"-->
<!--          class="img-fluid"-->
<!--          src="https://assets.uni-augsburg.de/media/filer_public_thumbnails/filer_public/69/0d/690d57b6-7679-411b-8a60-6ae0d02122ef/misitsvg.png__1080x2000_q85_subject_location-215%2C89_subsampling-2.png"-->
<!--        />-->
<!--      </a>-->
<!--    </div>-->
<!--  </h1>-->
<!--  <hr />-->
<!--</div>-->
