<div *ngFor="let type of types.controls; let propertyIndex = index; let last = last; trackBy: UtilService.trackByIndex" class="card mb-3">
  <app-collapsible *ngIf="labels && labels.controls && labels.controls[propertyIndex] && visibilities && visibilities.controls && visibilities.controls[propertyIndex]"
    [animation]="false"
    [content]="propertyContent"
    [headline]="labels.controls[propertyIndex].value"
    [hidden]="!visibilities.controls[propertyIndex].value"
    [iconSize]="'1x'"
    (clickEmitter)="showPropertyDetailsEmitter.emit(propertyIndex)"
  ></app-collapsible>

  <ng-template #propertyContent>
<!--    <h1>{{propertyIndex}}</h1>-->
<!--    <h5>{{logThis(keys.controls)}}</h5>-->
<!--    <h5>{{keys.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{labels.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{mappingsKeys.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{mappingsValues.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{type}}</h5>-->
<!--    <h5>{{thresholdsLower.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{thresholdsSteps.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{thresholdsUpper.controls[propertyIndex]}}</h5>-->
<!--    <h5>{{editable}}</h5>-->
<!--    <h5>{{dataTypes.controls[propertyIndex].value}}</h5>-->

    <hr class="m-0"/>

    <div class="container p-3">
      <app-mrsnv-property
        [key]="keys.controls[propertyIndex]"
        [label]="labels.controls[propertyIndex]"
        [mappingKeys]="mappingsKeys.controls[propertyIndex]"
        [mappingValues]="mappingsValues.controls[propertyIndex]"
        [propertyScope]="0"
        [propertyType]="type"
        [thresholdLower]="thresholdsLower.controls[propertyIndex]"
        [thresholdStep]="thresholdsSteps.controls[propertyIndex]"
        [thresholdUpper]="thresholdsUpper.controls[propertyIndex]"
        [editable]="editable"
        [dataType]="dataTypes.controls[propertyIndex].value"
        (addMappingStepEmitter)="addMappingStepEmitter.emit(propertyIndex)"
        (removeMappingStepEmitter)="removeMappingStepEmitter.emit({propertyIndex, stepIndex: $event})"
        (removePropertyMappingEmitter)="removePropertyMappingEmitter.emit(propertyIndex)"
      ></app-mrsnv-property>
    </div>
  </ng-template>
<!--  <hr *ngIf="!last" />-->
</div>
