<!-- hint: empty term -->
<div *ngIf="lastTermWasEmpty" class="card border-warning mt-2">
  <div class="card-body">
    <h5 class="card-title">Term missing</h5>
    <p class="card-text">
      You entered no search term. Please let us know, what you're looking for.
    </p>
  </div>
</div>

<!-- hint: empty result -->
<div *ngIf="lastResultWasEmpty" class="card border-warning mt-2">
  <div class="card-body">
    <h5 class="card-title">Empty result</h5>
    <p class="card-text">
      The term you queried did not yield any results. Check for typos and try synonyms. Also make
      sure, that the network is <b>searchable</b> on NDEx.
    </p>
  </div>
</div>

<!-- SEARCH RESULT -->
<div class="my-3 row">
  <!-- selector -->
  <div class="col-4">
    <!-- FORM -->
    <app-search-bar
      placeholder="Search..."
      [disabled]="isLoading ?? false"
      (clickEmitter)="searchNdex.emit($event)"
    ></app-search-bar>

    <ul class="list-group network-list mt-3">
      <!-- SAMPLE networks -->
      <ng-container *ngIf="sampleNetworks !== null">
        <li
          (click)="emitNetworkDetails(sample)"
          *ngFor="let sample of sampleNetworks"
          [attr.aria-current]="sample.externalId === selectedNetwork?.externalId"
          [ngClass]="sample.externalId === selectedNetwork?.externalId ? 'active' : ''"
          class="list-group-item cursor"
        >
          <div class="row">
            <div class="col-auto"><fa-icon icon="star"></fa-icon></div>
            <div class="col">
              <div class="row">
                <div class="col-12">[OFFICIAL DEMO] {{ sample.name }}</div>
                <div class="col-auto"><small> {{ sample.externalId }} </small></div>
                <div class="col"><small class="ms-4"> {{ sample.owner }} </small></div>
              </div>
            </div>
          </div>
        </li>
      </ng-container>

      <!-- REGULAR networks -->
      <ng-container *ngFor="let network of networks">
        <li
          (click)="emitNetworkDetails(network)"
          [attr.aria-current]="network.externalId === selectedNetwork?.externalId"
          [ngClass]="network.externalId === selectedNetwork?.externalId ? 'active' : ''"
          class="list-group-item cursor"
        >
          <div class="row">
            <div class="col-1">
              <ng-container *ngIf="network.isValid; then blockValid; else blockInvalid"></ng-container>
              <ng-template #blockInvalid><fa-icon class="text-warning" icon="exclamation-triangle"></fa-icon></ng-template>
              <ng-template #blockValid><fa-icon icon="circle-nodes"></fa-icon></ng-template>
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-12"> {{ network.name }}</div>
                <div class="col-8"><small> {{ network.externalId }} </small></div>
                <div class="col-4"><small class="ms-4"> {{ network.owner }} </small></div>
              </div>
            </div>
          </div>

        </li>
      </ng-container>
    </ul>
  </div>

  <!-- content -->
  <div class="col-8">
    <ng-container *ngIf="selectedNetwork !== null">
      <div class="card mb-2">
        <div class="card-body">

          <!-- description + table -->
          <app-home-content-browse-description
            (copyUuidEmitter)="copyUuidEmitter.emit($event)"
            [network]="selectedNetwork"
            (loadNetwork)="loadNetwork.emit($event)"
            class="row"
          ></app-home-content-browse-description>

          <!-- MRSNV aspect -->
          <app-home-content-browse-mrsnv
            (showModal)="showModal.emit()"
            *ngIf="selectedNetwork.mrsnv !== null"
            [selectedNetwork]="selectedNetwork"
            [mrsnv]="mrsnvForm"
            (editMrsnv)="editMrsnv.emit()"
            [setupInProgress]="setupInProgress"
            [isCheckingCompatibility]="isCheckingCompatibility"
            class="row"
          ></app-home-content-browse-mrsnv>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedNetwork === null">
      <div class="mt-5 pt-2 row align-items-center">
        <div class="col-1"><fa-icon icon="arrow-left" class="float-end"></fa-icon></div>
        <div class="col-11">
          <ngb-alert [dismissible]="false" class="mb-0">
            <strong>Select a network</strong>
            Click one of the networks in the list on the left to display its details.
            The visualization options can also be set and changed to adapt with this application.
<!--            <span (click)="showModal.emit()" class="link-primary cursor text-decoration-underline">format</span>-->
          </ngb-alert>
        </div>
      </div>
    </ng-container>
  </div>
</div>
