<ng-container *ngIf="network">
  <div class="col-auto">

    <!-- BTN: load network in app -->
    <div class="row mb-3">
      <div class="w-50">
        <button
          [openDelay]="1000"
          container="body"
          placement="bottom"
          ngbTooltip="Visualize the network with VisAVis"
          (click)="loadNetwork.emit(network.externalId)"
          [disabled]="network.isValid === false"
          type="button"
          class="btn btn-primary w-100"
        >
          <fa-icon *ngIf="network.isValid" icon="check"></fa-icon>
          <fa-icon *ngIf="!network.isValid" icon="times"></fa-icon>
          &nbsp;Visualize
        </button>
      </div>

      <div class="w-50">
        <a
          [href]="network.linkNdex"
          class="btn btn-outline-primary w-100 ndex"
          target="_blank"
          [openDelay]="1000"
          container="body"
          placement="bottom"
          ngbTooltip="Show this network on NDEx"
        >
          <fa-icon icon="arrow-up-right-from-square"></fa-icon>
          &nbsp;Open on NDEx
        </a>
      </div>
    </div>
<!--    <div class="row">-->
    <div class="row">
      <app-tag [text]="network.externalId"
               [label]='"UUID"'
               [tooltipAfterClick]="true"
               [autoSize]="true"
               colorHighlight="#0d6efd"
               colorBackground="#ffffff"
               colorBorder="#d3d3d3"
               colorText="#000000"
               tooltip="Copied to clipboard!"
               icon="copy" (click)="copyUuidEmitter.emit(network.externalId)">
      </app-tag>
    </div>

    <div class="row">
      <app-tag [text]="network.owner"
               [label]='"Owner"'
               [tooltipAfterClick]="true"
               colorHighlight="#0d6efd"
               colorBackground="#ffffff"
               colorBorder="#d3d3d3"
               colorText="#000000"
               tooltip="Copied to clipboard!"
               icon="copy" (click)="copyUuidEmitter.emit(network.externalId)">
      </app-tag>
    </div>

    <div class="row mb-3">
      <small class="text-muted">Number of</small>
      <div class="w-50">
        <div class="row m-0 pseudo-form-group">
          <div class="col-auto label">Nodes</div>
          <div class="col value">{{network.nodeCount}}</div>
        </div>
      </div>
      <div class="w-50">
        <div class="row m-0 pseudo-form-group">
          <span class="col-auto label">Edges</span>
          <span class="col value">{{network.edgeCount}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
<!--    <div class="row">-->
      <div class="card mb-3">

          <app-collapsible
            [animation]="true"
            [content]="networkDescription"
            [headline]="'Description'"
            [hidden]="false"
            [iconSize]="'xl'"
          ></app-collapsible>
        <div class="card-body p-0">
          <!-- template: network description -->
          <ng-template #networkDescription>
            <hr class="mt-0"/>
            <p
              *ngIf="
              network && network.description && network.description.length > 0;
              then blockDescription;
              else blockDefault
            "
            ></p>
          </ng-template>

          <ng-template #blockDescription>
            <p [innerHTML]="network.description" class="card-text px-3 pb-3 network-details"></p>
          </ng-template>
          <ng-template #blockDefault>
            <p class="card-text px-3 pb-3 text-muted fst-italic">No description given</p>
          </ng-template>
        </div>
      </div>
<!--    </div>-->
  </div>
</ng-container>


