<p>
  <a
    class="text-light"
    href="https://www.uni-augsburg.de/en/fakultaet/fai/informatik/prof/misit/"
    target="_blank"
    >Chair</a
  >
</p>
<p>
  <a
    class="text-light"
    href="https://www.sys-med.de/en/junior-research-groups/multipath/"
    target="_blank"
    >Funding</a
  >
</p>
<p>
  <a class="text-light" href="https://www.uni-augsburg.de/en/kontakt/" target="_blank">Contact</a>
</p>
<p>
  <a class="text-light" href="https://www.uni-augsburg.de/en/impressum/" target="_blank"
    >Legal notice / disclosure</a
  >
</p>
<p>
  <a class="text-light" href="https://www.uni-augsburg.de/en/impressum/datenschutz/" target="_blank"
    >Privacy</a
  >
</p>

<hr>

<p>
  <a class="text-light" href="https://github.com/frankkramer-lab/metarelsubnetvis" target="_blank">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp;Visit us on GitHub
  </a>
</p>
