<ng-container *ngIf="editable">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
           checked>
    <label class="btn btn-outline-primary" for="btnradio1">Continuous</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
           [checked]="mappingType.value === 'discrete'">
    <label class="btn btn-outline-primary" for="btnradio2">Discrete</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
           [checked]="mappingType.value === 'boolean'">
    <label class="btn btn-outline-primary" for="btnradio3">Boolean</label>
  </div>
</ng-container>

<ng-container *ngIf="!editable">
  <div class="btn-group d-flex flex-nowrap non-editable" role="group" aria-label="Basic radio toggle button group">
    <label class="btn btn-outline-primary w-25" [ngClass]="mappingType.value === 'continuous' ? 'active' : 'disabled'">Continuous</label>
    <label class="btn btn-outline-primary w-25" [ngClass]="mappingType.value === 'discrete' ? 'active' : 'disabled'">Discrete</label>
    <label class="btn btn-outline-primary w-25" [ngClass]="mappingType.value === 'boolean' ? 'active' : 'disabled'">Boolean</label>
  </div>
</ng-container>
