<!-- footer -->
<div class="fixed-bottom container-fluid bg-light text-center text-light ">
  <div class="row py-1">
    <div class="col">
      <a
        href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/misit/" target="_blank"
        class="link-secondary"
      >Chair</a
      >
    </div>
    <div class="col">
      <a href="https://www.sys-med.de/en/junior-research-groups/multipath/" target="_blank"
         class="link-secondary" >Funding</a
      >
    </div>
    <div class="col">
      <a href="https://www.uni-augsburg.de/en/contact/" target="_blank"
         class="link-secondary" >Contact</a>
    </div>
    <div class="col">
      <a href="https://www.uni-augsburg.de/de/impressum/datenschutz/" target="_blank"
         class="link-secondary" >Privacy</a>
    </div>
    <div class="col">
      <a href="https://www.uni-augsburg.de/de/impressum/" target="_blank"
         class="link-secondary" >Legal notice / disclosure</a
      >
    </div>
  </div>
</div>
